.bestseller-product {
    background-color: black;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

.item-img {
    max-width: 130px;
}
.item-box {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.item-box h2 {
    color: white;
}

.item-text {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    opacity: 1;
}

.bestseller-upper {
    background-color: black;
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
}
/* .bestseller-buynow {
    text-align: center;
    padding-top: 0px;
    font-size: 24px;
    margin-top: 50px;
}
.bestseller-buynow a {
    text-decoration: none;
    font-size: 18px;
}
.buynow-text {
    color: black;
    text-transform: uppercase;
    background-color: white;
    border-radius: 50px;
    padding: 12px 30px;
    display: inline;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;

    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(248, 108, 44, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1); 
}
.buynow-text:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #e7e7e7; 
} */
.swiper {
    padding: 80px;
    padding-top: 0px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    margin: 40px 0px;
    padding: 60px 60px;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    opacity: 0.5;
    filter: blur(3px);
    height: 100%;
    width: auto;
    display: flex;
    margin-top: 90px;
    justify-content: center;
    transition: all 0.6s ease;
    min-width: 200px !important;
    cursor: pointer;
}

.swiper-button-prev, .swiper-button-next {
    color: white;
}
.swiper-slide.swiper-slide-prev {
    transform: translateX(5%);
}

.swiper-slide.swiper-slide-next {
    transform: translateX(-5%);
}

.swiper-slide-active {
    opacity: 1;
    filter: blur(0px);
    z-index: 1;
    transform: scale(1.4);
}
.swiper-slide-active:hover {
    scale: 1.1;
}


.swiper-pagination {
    top: 75px;
    position: relative;
}
.swiper-pagination-bullet {
    background-color: white; 
    /* border: 2px solid white; */
    opacity: 0.5;
}
.swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1;
}