.featured-container{
    width: 100%;
    height: 30vh;
    background-color: black;
    overflow-x: hidden;
}
.featured-top{
    height: 20vh;
    display: flex;
}
.featured-text{
    width: 100%;
    text-align: center;
    font-size: 8vh;
    color: white;
    background-color: black;
}
/* .featured-bot{
    height: 30vh;
    display: flex;
} */
.boxf{
    width: 25%;
}
.schweppes{
    background-color: black;
}
.pepsi{
    background-color: black;
}
.sprite{
    background-color: black;
}
.fanta{
    background-color: black;
}
.fimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25%;
}
@keyframes shake {
    0%{transform: rotate(0deg) scale(1.2);}
    25%{transform: rotate(360deg) scale(1.2);}
    50%{transform: rotate(360deg) scale(1.2);}
    75%{transform: rotate(360deg) scale(1.2);}
    100%{transform: rotate(360deg) scale(1.2);}
}
.fimg:hover{
    animation: 1s linear shake;
}