.featured-container{
    width: 100%;
    height: 50vh;
    background-color: black;
    overflow-x: hidden;
}
.featured-top{
    height: 10vh;
    display: flex;
    padding-left: 75px;
}
.featured-text{
    width: 100%;
    text-align: center;
    font-size: 8vh;
    color: white;
    background-color: black;
}
.featured-bot{
    height: 10vh;
    display: flex;
    padding-left: 75px;
}
.boxf{
    display: flex;
    color: white;
    width: 25%;
    align-self: center;
    align-items: center;
    gap: 10px;
}
.boxf p {
    flex: 50%;
    margin: 0;
}
/* .schweppes{
    background-color: black;
}
.pepsi{
    background-color: black;
}
.sprite{
    background-color: black;
}
.fanta{
    background-color: black;
} */
.fimg{
    /* flex: 10%; */
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25%;
    transition: all 0.6s ease;
}
.fimg:hover{
    scale: 1.3;
}